<!doctype html>
<html ng-app="dial" ng-csp="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Dial</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body class="{{theme}}" ng-controller="DialController" ng-init="init()" ng-click="init()">
<div class="wrapper">
    <section class="clock">
        <h1 id="clock" class="ng-cloak">{{time}}</h1>
        <input id="search" type="text" autofocus tabindex="0" autocomplete="off" ng-model="search" ng-keypress="navigate($event)"/>
    </section>
    <section ng-class="section.title|lowercase" ng-repeat="section in data" ng-hide="search != ''">
        <h1 class="ng-cloak">{{section.title}}</h1>
        <ul>
            <li ng-repeat="item in section.links"><a class="ng-cloak" href="{{item.href}}" target="_self">{{item.label}}</a></li>
        </ul>
    </section>
    <ul id="search-result" ng-hide="search == ''">
        <li ng-repeat="item in filtered = (all_data|filter:search|limitTo:10)"><a href="{{item.href}}" target="_self">{{item.label}}</a></li>
    </ul>
</div>
<footer>
    <ul>
        <li class="left"><a id="options_url" target="_blank">OPTIONS</a></li>
        <li class="right">
            <a id="theme-light" target="_self" href="#" ng-click="changeTheme('theme_light')">light</a>
        </li>
        <li class="right">
            <a id="theme-dark" target="_self" href="#" ng-click="changeTheme('theme_dark')">dark</a>
        </li>
    </ul>
</footer>
<script src="javascripts/jquery-2.1.3.min.js"></script>
<script src="javascripts/packery.pkgd.min.js"></script>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/data.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>
