<!doctype html>
<html ng-app="dial" ng-csp="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Dial</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body class="{{theme}}" ng-controller="DialController" ng-init="init()" ng-click="init()">
<div class="wrapper">
    <section class="clock">
        <h1 id="clock" class="ng-cloak">{{time}}</h1>
        <input id="search" type="text" autofocus tabindex="0" autocomplete="off" ng-model="search" ng-keypress="navigate($event)"/>
    </section>
    <section class="group" ng-class="section.title|lowercase" ng-repeat="section in data" ng-hide="search != ''">
        <h1 class="ng-cloak group-label"><img ng-click="removeSection(data, $index)" ng-if="editMode" class="icon-remove" src="images/cancel-circle.svg" ng-click="removeLink(section.links, $index)" /><span class="label">{{section.title}}</span></h1>
        <ul>
            <li ng-repeat="item in section.links">
              <a ng-if="!editMode" class="ng-cloak label" href="{{item.href}}" target="_self">{{item.label}}</a>
              <span ng-if="editMode" class="ng-cloak item-label"><img class="icon-remove" src="images/cancel-circle.svg" ng-click="removeLink(section.links, $index)" /><span class="label">{{item.label}}</span></span>
            </li>
        </ul>
    </section>
    <ul id="search-result" ng-hide="search == ''">
        <li ng-repeat="item in filtered = (all_data|filter:search|limitTo:10)"><a href="{{item.href}}" target="_self">{{item.label}}</a></li>
    </ul>
</div>
<footer>
    <ul>
        <li class="left"><a id="configure-btn" href="#" ng-click="setEditMode()" ng-class="{unsaved: editMode}">{{editMode?'DONE':'CONFIGURE'}}</a></li>
        <li class="left" ng-if="editMode"><a id="new-section-btn" href="#" ng-click="createNewSection()">NEW SECTION</a></li>
        <li class="left" ng-if="editMode"><a id="new-link-btn" href="#" ng-click="newLink(data)">NEW LINK</a></li>
        <li class="right">
            <a id="theme-light" target="_self" href="#" ng-click="changeTheme('theme_light')">light</a>
        </li>
        <li class="right">
            <a id="theme-dark" target="_self" href="#" ng-click="changeTheme('theme_dark')">dark</a>
        </li>
    </ul>
</footer>
<div id="new-section-modal">
    <div class="container">
        <h1>Create new section</h1>
        <img class="icon-remove cancel" src="images/cancel-circle.svg" ng-click="cancelNewSection()" />
        <input type="text" name="title" ng-model="new_section_title" />
        <input type="button" value="OK" ng-click="newSection(data, new_section_title); new_section_title = ''" />
    </div>
</div>
<script src="javascripts/jquery-2.1.3.min.js"></script>
<script src="javascripts/CSSPlugin.min.js"></script>
<script src="javascripts/EasePack.min.js"></script>
<script src="javascripts/TweenLite.min.js"></script>
<script src="javascripts/packery.pkgd.min.js"></script>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/data.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>
