@import url(https://fonts.googleapis.com/css?family=Raleway);

.ng-hide {
  display: none;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #222;
  padding:0;
  margin:0;
  font:16px/1.5 Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#444;
  font-weight:100;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin:0 0 20px;
  text-transform: uppercase;
}

.clock {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-bottom: 30px;
  margin-bottom: 50px !important;
}

#clock {
  display: inline-block;
  font-size: 40px;
  margin: 0;
}

#clock small {
  font-size: 26px;
  color: #888;
}

section.clock {
  width: 100%;
}

header {

}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-transform: uppercase;
}

footer ul {
  width: 100%;
  margin: 0;
  padding: 20px;
  font-size: 12px;
  overflow: hidden;
}

footer ul li {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

footer ul li.right {
  margin-right: 10px;
}

p, ul, ol, table, pre, dl {
  margin:0;
}

ul, li {
  list-style: none;
  padding: 0;
}

h1 {
  line-height:1.1;
}

h1 {
  font-size:16px;
}

a {
  color:#888;
  text-decoration:none;
  opacity: 1;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a:hover {
  opacity: 0.5;
}

.main a {
  color: #25FFB4;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
  overflow: hidden;
  top: 50%;
  position: absolute !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search-result {
  position: absolute;
  top: 161px;
}

#search-result li:nth-child(1) a{
  color: white;
}

section {
  width:25%;
  float:left;
  padding-bottom:0;
}

section ul {
  margin: 0 0 20px;
}

*:focus {
  outline: 0;
}

#search {
  font-family: "Raleway";
  display: inline-block;
  margin: 0 0 0 30px;
  font-size: 29px;
  background: transparent;
  border: 0;
  color: #25FFB4;
}

body.theme_light {
  background-color: #FFF;
  color: #CCC;
}

body.theme_light {
  background-color: #FFF;
}

body.theme_light .main a {
  color: #0094FF;
}

body.theme_light .clock {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

body.theme_light #search {
  color: #0094FF;
}

body.theme_light #search-result li:nth-child(1) a{
  color: black;
}